/* ========== main ========== */
:root {
    --second-color: rgb(117, 40, 217);
}

body {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1em;
}

main {
    display: flex;
    justify-content: space-between;

    margin-left: 25px;
    margin-right: 50px;
}

h1 {
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;

    border-bottom: 2.5px solid black;

    text-align: center;
    font-family: Arial Black;
    font-size: 1.8em;
}

.vr-line {
    width: 3px;
    min-height: 100%;
    background-color: black;
}

hr {
    width: 100%;
    height: 2.5px;
    background-color: black;
    margin-top: 18px;
    margin-bottom: 18px !important;
}

.weigth {
    font-weight: 700;
}

.button {
    padding: 5px 30px;
    cursor: pointer;
}
    .button:hover {
        box-shadow: 0 0 10px var(--second-color);
    }
input:disabled {
    background-color: #313131;
    color: #777;
    cursor: no-drop;
    border-color: #777;
    box-shadow: -2.5px 2.5px 10px black;
}
    input:hover:disabled {
        box-shadow: -2.5px 2.5px 10px black;
    }
    input:focus:disabled {
        box-shadow: -2.5px 2.5px 10px black;
    }

input {
    border: 1.25px solid black;
    border-radius: 4px;
    padding: 5px;
    padding-left: 15px;
    transition: all 0.2s ease;
    outline: none;
}
    input:not(input.button):focus {
        box-shadow: 0 0 10px var(--second-color);
        outline: none;
    }

.select {
    border: 1.25px solid black;
    border-radius: 4px;
    padding: 5px;
    padding-left: 15px;
    transition: all 0.2s ease;
    outline: none;
}
    .select:hover, .select:focus {
        box-shadow: 0 0 10px var(--second-color);
        outline: none;
    }
/* //======== main ========== */

/* ========== settings ========== */
.settings {
    order: 2;
    margin-left: 100px;
    margin-right: 100px;
}
/* //======== settings ========== */

/* ========== values ========== */
.values {
    margin-left: 0;
    margin-right: auto;
    order: -1;
}

.values-header {
    display: flex;
    gap: 20px;

    margin-bottom: 20px;
}

.values-header-header {
    margin-top: auto;
    margin-bottom: auto;
}
    .values-header__img img {
        width: 75px;
        height: 75px;
    }

/* -- values worker */
.hide {
    height: 0;
    display: none;
}

.values__container {
    width: 100%;

    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
}
    .values__container * {
        margin-bottom: 2px;
    }
    .values__container > div {
        /* overflow: hidden; */
        transition: height 0.2s ease;
    }

.values__container__input-container{
    display: inline;
}

.values__container__key {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 25px;
}

.values__container__input-container{
    justify-self: flex-end;
}

.enter-num {
    display: inline-block;
    min-width: 50px;
    height: 32.4px;
    vertical-align: middle;
    border: 1.25px solid black;
    border-radius: 4px;
    padding: 5px;
}
/* // values worker */
/* //======== values ========== */